#g{
  margin-left: 40%;
}
#a{
margin-left: 10%;
}
#b{
margin-left: -40%;
}
#c{
margin-left: 10%;
}
#d{
margin-left: 70%;
}
#f{
  margin-left: 70%;{
  margin-left: 5%;
}
#uua{
  margin-right: 11px;
position: relative;
right: 10%;
}
